<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home - MedicalSite</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <div class="site-name">ExampleSite</div>
    <div class="nav-links">
      <a href="login.html">Login</a>
      <a href="register.html">Register</a>
    </div>
  </header>

  <section class="main-content">
    <img src="images/logo.png" alt="Logo Image" class="logo">
    <h1>Welcome to X</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in elementum nisl. Etiam eu cursus nisl. Pellentesque fringilla efficitur ligula ac ultrices. Integer eget dolor ac elit scelerisque dictum. Maecenas sed vulputate massa. Sed viverra quam id nulla pulvinar consequat. 
      Cras neque eros, vulputate ut efficitur id, augue. Mauris feugiat fringilla purus, vitae vestibulum arcu bibendum pharetra.
      </p>
  </section>

  <footer>
     2025 ExampleSite. All rights reserved.
  </footer>

</body>
</html>