<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <header>
    <a href="dashboard.html" class="home-click">ExampleSite</a>
    <div class="nav-links">
    </div>
  </header>

  <div class="container">
  <h2>Register</h2>
  <form action="/register" method="post">
    <label>Username:</label>
    <input type="text" name="username"><br>
    <label>Email:</label>
    <input type="email" name="email"><br>
    <label>Password:</label>
    <input type="password" name="password"><br>
    <label>First Name:</label>
    <input type="firstname" name="firstname"><br>
    <label>Last Name:</label>
    <input type="Medical Record Number" name="medNumber"><br>
    <label>Medical Record Number:</label>
    <input type="lastname" name="lastname"><br>
    <button type="submit">Register</button>
  </form>
  <a href="login.html">Back to Login</a>
  </div>
  <footer>
    2025 ExampleSite. All rights reserved.
 </footer>
</body>
</html>
